<template name="items">
  <div class="items">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Items</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-items-button" href="/items/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add Item</h4>
        </a>
      </div>
      
      {{#if $gt itemCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Company Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Company Item Number
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Layaway Card Item Number
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Name
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Description
        </div>

      </div>
      {{/if}}

      {{#each items}}
      <div class="row details-list" id="{{_id}}">
        <a href="/items/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{companyId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{companyItemNumber}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{layawayCardItemNumber}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{name}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{description}}
        </div>

        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/items/edit/{{_id}}"><span class="glyphicon glyphicon-pencil edit-item-button"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash delete-item-button"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No Items.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt itemCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>