<template name="upsertCard">
  <div class="upsert-card">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-customer-id" class="control-label">Customer Id</label>
            <select id="upsert-customer-id" class="form-control">
              <option value="">Select...</option>
              {{#each profiles}}
              <option value="{{_id}}" {{isSelected card.customerId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-card-number" class="control-label">Card Number</label>
          <input type="text" id="upsert-card-number" name="upsert-card-number" class="form-control" value="{{card.cardNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-denomination" class="control-label">Denomination</label>
            <select id="upsert-denomination" class="form-control">
              <option value="">Select...</option>
              <option value='100' {{isSelected card.denomination '100'}}>100</option>
              <option value='250' {{isSelected card.denomination '250'}}>250</option>
              <option value='500' {{isSelected card.denomination '500'}}>500</option>
              <option value='1000' {{isSelected card.denomination '1000'}}>1000</option>
              <option value='2500' {{isSelected card.denomination '2500'}}>2500</option>
              <option value='5000' {{isSelected card.denomination '5000'}}>5000</option>
              <option value='10000' {{isSelected card.denomination '10000'}}>10000</option>
              <option value='Custom' {{isSelected card.denomination 'Custom'}}>Custom</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-initial-value" class="control-label">Initial Value</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-initial-value" name="upsert-initial-value" class="form-control" value="{{card.initialValue}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-card-balance" class="control-label">Card Balance<span style="color: #acacac;"> (optional) </span> </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-card-balance" name="upsert-card-balance" class="form-control" value="{{card.cardBalance}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-status" class="control-label">Status</label>
            <select id="upsert-status" class="form-control">
              <option value="">Select...</option>
              <option value='Active' {{isSelected card.status 'Active'}}>Active</option>
              <option value='Inactive' {{isSelected card.status 'Inactive'}}>Inactive</option>
              <option value='Stolen' {{isSelected card.status 'Stolen'}}>Stolen</option>
            </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>