<template name="activityLogs">
  <div class="activityLogs">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Activity Logs</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-activity-logs-button" href="/activity-logs/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add ActivityLog</h4>
        </a>
      </div>
      
      {{#if $gt activityLogCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Collection Name
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Key
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Value
        </div>

      </div>
      {{/if}}

      {{#each activityLogs}}
      <div class="row details-list">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{id}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{collectionName}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{key}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{value}}
        </div>
      </div>
      {{else}}
      <div class="message">
        No ActivityLogs.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt activityLogCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>