<template name="company">
    <div class="company">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Company</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <img id="upsert-imageIds" src="{{company.firstImage.url}}" />
                    <a href="#" id="upload-image-button">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="delete-image-button">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-name" class="control-label">Name</label>
                  <span id="company-name" name="company-name">{{company.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-phone" class="control-label">Phone</label>
                  <span id="company-phone" name="company-phone">{{company.phone}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-website" class="control-label">Website</label>
                  <span id="company-website" name="company-website"><a href="{{company.website}}">{{company.website}}</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-address1" class="control-label">Address 1</label>
                  <span id="company-address1" name="company-address1">{{company.address1}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-address2" class="control-label">Address 2</label>
                  <span id="company-address2" name="company-address2">{{company.address2}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-city" class="control-label">City/Town</label>
                  <span id="company-city" name="company-city">{{company.city}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-state" class="control-label">State/Province/Region</label>
                  <span id="company-state" name="company-state">{{company.state}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="company-zip" class="control-label">Zip/Postal Code</label>
                  <span id="company-zip" name="company-zip">{{company.zip}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{#if $eq role "Admin"}}
                    <a href="{{roleRoute}}/companies/edit/{{company._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="{{roleRoute}}/companies" class="btn btn-default">Back to Companies</a>
                    <a href="{{previousUrl}}" class="btn btn-default">Back</a>
                    {{/if}}                                  
                </div>
            </div>
        </div>
    </div>
</template>
