<template name="upsertItem">
  <div class="upsert-item">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-company-id" class="control-label">Company Id</label>
            <select id="upsert-company-id" class="form-control">
              <option value="">Select...</option>
              {{#each companies}}
              <option value="{{_id}}" {{isSelected item.companyId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-company-item-number" class="control-label">Company Item Number<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-company-item-number" name="upsert-company-item-number" class="form-control" value="{{item.companyItemNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-layaway-card-item-number" class="control-label">Layaway Card Item Number</label>
          <input type="text" id="upsert-layaway-card-item-number" name="upsert-layaway-card-item-number" class="form-control" value="{{item.layawayCardItemNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-name" class="control-label">Name</label>
          <input type="text" id="upsert-name" name="upsert-name" class="form-control" value="{{item.name}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-description" class="control-label">Description<span style="color: #acacac;"> (optional) </span> </label>
          <textarea id="upsert-description" name="upsert-description" class="form-control" rows="5">{{item.description}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-category" class="control-label">Category</label>
          <input type="text" id="upsert-category" name="upsert-category" class="form-control" value="{{item.category}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-sub-category" class="control-label">Sub Category<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-sub-category" name="upsert-sub-category" class="form-control" value="{{item.subCategory}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-price" class="control-label">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-price" name="upsert-price" class="form-control" value="{{item.price}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-status" class="control-label">Status</label>
            <select id="upsert-status" class="form-control">
              <option value="">Select...</option>
              <option value='Available' {{isSelected item.status 'Available'}}>Available</option>
              <option value='Sold Out' {{isSelected item.status 'Sold Out'}}>Sold Out</option>
              <option value='Back Order' {{isSelected item.status 'Back Order'}}>Back Order</option>
              <option value='Discontinued' {{isSelected item.status 'Discontinued'}}>Discontinued</option>
            </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>