html {
    position: relative;
    min-height: 100%;
  }
  body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; /* rtl:prepend:"Droid Arabic Kufi","Droid Sans" */
    /* background: #fcfcfc url(/images/bg.jpg) repeat; */
    margin: 0px;
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
  }
  #content {
    padding-top: 70px;
  }
  footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      color: #e6e7e8;
      background-color: #bcbcbc;
      font-size: 0.75em;
      padding: 10px;
  }
  footer a { color: #e6e7e8; }
  
  .add-button{
      /* background:#e9e9e9; */
      margin-top: 5px;
  }
  .add-button h4 {
      display:inline-block;
      margin:0;
      padding:10px 10px;
      background:#dc4405;
      font-size:17px;
      color:#fff;
  }
  .add-button h4 span {
      color:#fff;
      font-size:16px;
      padding-right:5px;
  }
  .list {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin: 5px 0px;
      background:#F7F7F7;
      padding: 10px;
  }
  .list-header {
      border: 1px solid #bcbcbc;
      margin: 5px 0px;
      background:#e6e7e8;
      padding: 10px;
      font-weight: bold;
      /* text-align: center; */
  }
  .row-icon {
      text-align: center;
      /* background:#eaeaea; */
  }
  .row-icon a span {
      font-size: 16px;
      padding: 5px;
      /* color:#6C6C6C;	 */
  }
  .page-title{background: #309acd; color: #fff; text-align: center; min-height: 40px; margin: 0 auto 30px; margin-top: -30px; padding: 12px 0 12px;}
  .page-title h4 {display:inline-block;	margin:0;	padding:5px 10px;	background:#309acd;	font-size:17px;	color:#222;}
  .page-title h4 span { color:#fff; font-size:16px; padding-right:5px;}
  .page-title h1 {font-size: 48px;}
  label {
      color: #555555;
      font-weight: 400;
      font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', sans-serif;
      line-height: 20px;
      font-size: 14px;
  }
  .details-nav-buttons {
      margin: 20px 5px;
  }
  .details .row div > span {
      border-bottom: 1px solid #bcbcbc;
      margin: 10px;
      background:#F7F7F7;
  }
  .details-list {
      margin-bottom: 25px;
  }
  
  .list { margin: 5px 0px 0; background:#E6E7E8; padding: 10px;}
  .details-list {margin: 0 15px; padding: 10px 0; border-bottom: 1px solid #e6e7e8;}
  .header-list {margin: 0; background:#E6E7E8; padding: 5px; border-bottom: 1px solid #e6e7e8; text-transform: uppercase;}
  
  #navbar {
  margin-top: 25px;
  }
  
  .navbar {
      min-height: 100px;
      font-size: 1.5em;
   }
  
  .navbar-brand {
      padding: 30px;
    }
    
  .navbar-brand-text {
      /* padding-top: 12px; */
      padding-left: 5px;
      /* display: inline-block; */
      font-size: 2.75em;
      /* line-height: 1.57em; */
  }
  
  .navbar-brand img {
      vertical-align: top;
      /* padding-top: 3px; */
      display: inline-block;
      height: 3em;
  }

  .navbar-nav > li > a {
    padding: 10px;
  }
  
  /* NOTE: For underlining of menu items */
  .navbar-default .navbar-nav > .active > a {
    text-decoration: underline;
    background-color: #F7F7F7;
  }

  .navbar-default .navbar-nav > .active a:not(:focus) {
    background-color: #F7F7F7;
  }

  .navbar-default .navbar-nav > .active a:focus {
    background-color: #F7F7F7;
  }

  .navbar-default .navbar-nav > .active > a:hover {
    text-decoration: underline;
    background-color: #F7F7F7;
  }
  
  .nav navbar-nav {
    font-size: 1em;
  }

  #search-box {
    /* margin-top: 5px; */
  }

  #search-box input {
    /* padding: 5px; */
    width: 150px
  }

  @media screen and (max-width: 600px) {
    .navbar-brand {
    padding: 0px;
    }

    .navbar-brand-text {
    padding-top: 12px;
    padding-left: 5px;
    display: inline-block;
    font-size: 0.875em;
    line-height: 1.57em;
    }
    .navbar-brand img {
    vertical-align: top;
    padding-top: 10px;
    padding-left: 5px;
    display: inline-block;
    }

    .navbar-brand .visible-xs {
        display: inline!important; /* use !important if necessary */
    }
  }
  
