<template name="MasterLayout">

	<body>
		<nav id="navBar" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">
						<a href="/" class="navbar-brand-text">Layaway Card</a>
					</span>
				</div>
				<div id="navbar" class="collapse navbar-collapse menu-list">
					<ul class="nav navbar-nav">
						{{#if currentUser}}
						<li class="{{isActiveRoute 'home'}}">
							<a href="/"> Home</a>
						</li>
						{{#if $eq role "Admin"}}
						<li class="{{isActiveRoute regex='profiles'}}">
							<a href="{{profileRoute}}"> Users</a>
						</li>
						<li class="{{isActiveRoute regex='companies'}}">
							<a href="{{roleRoute}}/companies"> Companies</a>
						</li>
						{{else}}
						{{/if}}
						{{/if}}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{{#if currentUser}}
						<li>
							<div id="search-box">
								<input type="text" placeholder="Search" id="search" />
								<span id="search-button"><i class="glyphicon glyphicon-search"></i></span>
							</div>
						</li>
						<li class="{{isActiveRoute 'profile'}}">
							<a href=/profile>Profile </a> 
						</li> 
						<li>
							<a href="#" id="logout-button">Logout</a>
						</li>
						{{else}}
						<li class="{{isActiveRoute 'atSignIn'}}">
							<a href="/sign-in">Login</a>
						</li>
						<li class="{{isActiveRoute 'atSignUp'}}">
							<a href="/sign-up">Sign Up</a>
						</li>
						{{/if}}
					</ul>
				</div>
			</div>
		</nav>
		<div style="margin-top:125px; margin-bottom:100px">
			{{> Template.dynamic template=yield}}
		</div>

		<footer id="footer">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="copyright">
						&copy; {{year}} The Mullings Group, LLC.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="http://TheMullingsGroup.com">Developed by The Mullings Labs, a Division of The Mullings Group, LLC.</a>
				</div>
			</div>
		</footer>
	</body>
</template>
