<template name="authTokens">
  <div class="authTokens">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Auth Tokens</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-auth-tokens-button" href="/company-admin/auth-tokens/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add Auth Token</h4>
        </a>
      </div>
      {{#if $gt authTokenCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Application Name
        </div>
        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Url
        </div> -->
      </div>
      {{/if}}

      {{#each authTokens}}
      <div class="row details-list">
        <a href="/company-admin/auth-tokens/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{applicationName}}
        </div>
        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{url}}
        </div> -->
        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/company-admin/auth-tokens/edit/{{_id}}" id="edit-authToken-button"><span class="glyphicon glyphicon-pencil"></span></a>
          <a href="#" id="delete-authToken-button"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No AuthTokens.
      </div>
      {{/each}}

      <!-- Pagination -->
      {{#if $gt authTokenCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
      
      <pre style="margin-top: 10px;">
        RESTful API:
          /api/v1.0/objects
            Returns the list of Objects
      </pre>
    </div>
  </div>
</template>