<template name="profile">
	<div class="profile">
		<div class="container-fluid page-title">
			<h1>User Profile</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="profile-first-name" class="control-label">First Name</label>
					<span id="profile-first-name" name="profile-first-name">{{profile.firstName}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="profile-last-name" class="control-label">Last Name</label>
					<span id="profile-last-name" name="profile-last-name">{{profile.lastName}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="profile-user-email" class="control-label">Email</label>
					<span id="profile-user-email" name="profile-user-email">{{profile.userEmail}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="profile-phone" class="control-label">Phone</label>
					<span id="profile-phone" name="profile-phone">{{profile.phone}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="profile-role" class="control-label">Role</label>
					<span id="profile-role" name="profile-role">{{profile.role}}</span>
				</div>
			</div>

			{{#if $and ($eq currentUser._id profile.userId) ($eq currentUserRole "Admin")}}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="{{roleRoute}}/companies/{{profile.companyId}}" class="btn">Company Settings</a>
				</div>
			</div>
			{{/if}}

			{{#if $eq currentUser._id profile.userId}}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="/change-password" class="btn">Change Password</a>
				</div>
			</div>
			{{/if}}
			<div class="row" style="margin: 10px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="{{profileRoute}}/edit/{{profile._id}}" class="btn btn-default btn-primary">Edit</a>
					{{#if $eq currentUserRole "Admin"}}
					<a href="{{profileRoute}}" class="btn btn-default">Back to Profiles</a>
					{{/if}}
				</div>
			</div>
            
			<!-- Activity Logs -->
			<!-- <div class="activity-logs">
				<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="activity-log-header">Activity <span id="js-toggle-activity-logs" class="collapsable">[ - ]</span></div>
				</div>
				</div>
				<div class="container" id="js-activity-logs">
				{{#each activityLogs}}
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					</div>
				</div>
				{{/each}}
				</div>
			</div> -->
		</div>
	</div>
</template>
