.profile .add-ref-line {
    margin: 10px;
}

.profile .activity-log-header {
    font-weight: bold;
}

.profile .changed-by {
    font-weight: bold;
}

.profile .created-by {
    font-weight: 100;
}

.profile .collapsable {
    font-size: 1.5em;
    font-weight: 100;
    margin: 5px;
}

.profile .activity-logs .row {
    margin-top: 15px;
}
