<template name="layawayItems">
  <div class="layawayItems">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Layaway Items</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-layaway-items-button" href="/layaway-items/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add LayawayItem</h4>
        </a>
      </div>
      
      {{#if $gt layawayItemCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Card Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Item Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Store
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Purchase Price
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Purchase Date
        </div>

      </div>
      {{/if}}

      {{#each layawayItems}}
      <div class="row details-list" id="{{_id}}">
        <a href="/layaway-items/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{cardId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{itemId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{store}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{formatCurrency purchasePrice}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{prettyPrintDate purchaseDate}}
        </div>

        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/layaway-items/edit/{{_id}}"><span class="glyphicon glyphicon-pencil edit-layawayItem-button"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash delete-layawayItem-button"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No LayawayItems.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt layawayItemCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>