<template name="paymentPlans">
  <div class="paymentPlans">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Payment Plans</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-payment-plans-button" href="/payment-plans/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add PaymentPlan</h4>
        </a>
      </div>
      
      {{#if $gt paymentPlanCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Card Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Frequency
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Minimum Amount
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Automatic Withdrawal
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Customer Number
        </div>

      </div>
      {{/if}}

      {{#each paymentPlans}}
      <div class="row details-list" id="{{_id}}">
        <a href="/payment-plans/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{cardId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{frequency}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{formatCurrency minimumAmount}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{automaticWithdrawal}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{customerNumber}}
        </div>

        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/payment-plans/edit/{{_id}}"><span class="glyphicon glyphicon-pencil edit-paymentPlan-button"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash delete-paymentPlan-button"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No PaymentPlans.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt paymentPlanCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>