<template name="layawayItem">
    <div class="layawayItem">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Layaway Item</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-card-id" class="control-label">Card Id</label>
                  <span id="layaway-item-card-id" name="layaway-item-card-id">{{layawayItem.cardId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-company-item-number" class="control-label">Company Item Number</label>
                  <span id="layaway-item-item-item-company-item-number" name="layaway-item-item-item-company-item-number">{{layawayItem.item.item.companyItemNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-layaway-card-item-number" class="control-label">Layaway Card Item Number</label>
                  <span id="layaway-item-item-item-layaway-card-item-number" name="layaway-item-item-item-layaway-card-item-number">{{layawayItem.item.item.layawayCardItemNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-name" class="control-label">Name</label>
                  <span id="layaway-item-item-item-name" name="layaway-item-item-item-name">{{layawayItem.item.item.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-description" class="control-label">Description</label>
                  <span id="layaway-item-item-item-description" name="layaway-item-item-item-description">{{layawayItem.item.item.description}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-category" class="control-label">Category</label>
                  <span id="layaway-item-item-item-category" name="layaway-item-item-item-category">{{layawayItem.item.item.category}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-sub-category" class="control-label">Sub Category</label>
                  <span id="layaway-item-item-item-sub-category" name="layaway-item-item-item-sub-category">{{layawayItem.item.item.subCategory}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-price" class="control-label">Price</label>
                  <span id="layaway-item-item-item-price" name="layaway-item-item-item-price">{{formatCurrency layawayItem.item.item.price}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-item-status" class="control-label">Status</label>
                  <span id="layaway-item-item-item-status" name="layaway-item-item-item-status">{{layawayItem.item.item.status}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-item-id" class="control-label">Item Id</label>
                  <span id="layaway-item-item-id" name="layaway-item-item-id">{{layawayItem.itemId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-store" class="control-label">Store</label>
                  <span id="layaway-item-store" name="layaway-item-store">{{layawayItem.store}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-purchase-price" class="control-label">Purchase Price</label>
                  <span id="layaway-item-purchase-price" name="layaway-item-purchase-price">{{formatCurrency layawayItem.purchasePrice}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-purchase-date" class="control-label">Purchase Date</label>
                  <span id="layaway-item-purchase-date" name="layaway-item-purchase-date">{{prettyPrintDate layawayItem.purchaseDate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-purchase-time" class="control-label">Purchase Time</label>
                  <span id="layaway-item-purchase-time" name="layaway-item-purchase-time">{{layawayItem.purchaseTime}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="layaway-item-status" class="control-label">Status</label>
                  <span id="layaway-item-status" name="layaway-item-status">{{layawayItem.status}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/layaway-items/edit/{{layawayItem._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/layaway-items" class="btn btn-default">Layaway Items</a>
                </div>
            </div>
        </div>
    </div>
</template>