<template name="paymentPlan">
    <div class="paymentPlan">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Payment Plan</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-card-id" class="control-label">Card Id</label>
                  <span id="payment-plan-card-id" name="payment-plan-card-id">{{paymentPlan.cardId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-frequency" class="control-label">Frequency</label>
                  <span id="payment-plan-frequency" name="payment-plan-frequency">{{paymentPlan.frequency}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-minimum-amount" class="control-label">Minimum Amount</label>
                  <span id="payment-plan-minimum-amount" name="payment-plan-minimum-amount">{{formatCurrency paymentPlan.minimumAmount}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-automatic-withdrawal" class="control-label">Automatic Withdrawal</label>
                  <span id="payment-plan-automatic-withdrawal" name="payment-plan-automatic-withdrawal">{{paymentPlan.automaticWithdrawal}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-customer-number" class="control-label">Customer Number</label>
                  <span id="payment-plan-customer-number" name="payment-plan-customer-number">{{paymentPlan.customerNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-plan-payment-type" class="control-label">Payment Type</label>
                  <span id="payment-plan-payment-type" name="payment-plan-payment-type">{{paymentPlan.paymentType}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/payment-plans/edit/{{paymentPlan._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/payment-plans" class="btn btn-default">Payment Plans</a>
                </div>
            </div>
        </div>
    </div>
</template>