<template name="home">
  <div class="home">
    <div class="container-fluid full" style="margin-top: -25px;">
      <div class="row signNowValueProp">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <h1>Layaway Card</h1>
            <ul>
                <li>
                  Feature 1 
                </li>
                <li>
                  Feature 2 
                </li>
                <li>
                  Feature 3 
                </li>
            </ul>
        </div>
      </div>
      <div class="row signNow">
        <div id="signupform" class="col-xs-12 col-sm-6 col-md-12">
            <h3>Get a Free Demo</h3>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required="" data-validation-required-message="Please enter your phone number.">
              </div>
              <button type="submit" class="btn btn-default" id="sign-up-button">Request</button>
            </form>
        </div>
          <div id="thankyou" class="col-xs-12 col-sm-6 col-md-12" style="display:none;">
            <h3>Thank you. We'll contact you within 24 hours.</h3>
        </div>
      </div>

    </div>
  </div>
</template>
