/*****************************************************************************/
/* home: Style */
/*****************************************************************************/
.home .full {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/AdobeStock_203864827.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 95%;
    position: fixed;
    overflow: auto;
}

.home .signNow {position: absolute; width: 20%; background: #fff; border-radius: 5px; margin: 150px 0 0; right: 5%; padding: 5px 10px 30px;}
.home .signNowValueProp {margin: 150px 0; text-align: left; position: absolute; color: #f5f5f5; width: 70%; padding: 0 30px;}
.home .signNowValueProp h1 {font-size: 60px;}
.home .signNowValueProp ul {margin-left: 0;}
.home .signNowValueProp li {font-size: 24px; }
.home #thankyou h3 {text-align: center;}

@media (max-width: 768px) {
    .home .navbar {min-height: 50px; margin-bottom: 0;}
    .home .navbar-brand img {width: 130px;}
    .home .full {position: relative;}
    .home .navbar-toggle {display: none;}
    .home .signNowValueProp {margin: 0; text-align: left; position: relative; width: 100%; padding: 0 0 15px; }
    .home .signNowValueProp h1 {font-size: 24px;}
    .home .signNowValueProp p {font-size: 14px;}
    .home .signNow {margin: 0; text-align: left; position: relative; width: 100%; padding: 30px 15px; right: 0; margin-bottom: 50px; }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home .navbar {min-height: 70px; margin-bottom: 0;}
    .home .navbar-brand img {width: 160px;}
    .home .full {position: fixed;}
    .home .col-sm-6 {width: 100%;}
    .home .navbar-toggle {display: none;}
    .home .signNowValueProp {margin: 0; text-align: left; position: relative; width: 100%; padding: 0 0 15px; }
    .home .signNowValueProp h1 {font-size: 32px;}
    .home .signNowValueProp p {font-size: 18px;}
    .home .signNow {margin: 0; text-align: left; position: relative; width: 100%; padding: 30px 15px; right: 0; margin-bottom: 50px; }

}
