<template name="payments">
  <div class="payments">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Payments</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-payments-button" href="/payments/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add Payment</h4>
        </a>
      </div>
      
      {{#if $gt paymentCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Payment Plan Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Amount
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Payment Date
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Payment Time
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Payment Type
        </div>

      </div>
      {{/if}}

      {{#each payments}}
      <div class="row details-list" id="{{_id}}">
        <a href="/payments/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{paymentPlanId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{formatCurrency amount}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{prettyPrintDate paymentDate}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{paymentTime}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{paymentType}}
        </div>

        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/payments/edit/{{_id}}"><span class="glyphicon glyphicon-pencil edit-payment-button"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash delete-payment-button"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No Payments.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt paymentCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>