<template name="upsertLayawayItem">
  <div class="upsert-layawayItem">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-card-id" class="control-label">Card Id</label>
            <select id="upsert-card-id" class="form-control">
              <option value="">Select...</option>
              {{#each cards}}
              <option value="{{_id}}" {{isSelected layawayItem.cardId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-company-item-number" class="control-label">Company Item Number<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-company-item-number" name="upsert-company-item-number" class="form-control" value="{{layawayItem.item.companyItemNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-layaway-card-item-number" class="control-label">Layaway Card Item Number</label>
          <input type="text" id="upsert-layaway-card-item-number" name="upsert-layaway-card-item-number" class="form-control" value="{{layawayItem.item.layawayCardItemNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-name" class="control-label">Name</label>
          <input type="text" id="upsert-name" name="upsert-name" class="form-control" value="{{layawayItem.item.name}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-description" class="control-label">Description<span style="color: #acacac;"> (optional) </span> </label>
          <textarea id="upsert-description" name="upsert-description" class="form-control" rows="5">{{layawayItem.item.description}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-category" class="control-label">Category</label>
          <input type="text" id="upsert-category" name="upsert-category" class="form-control" value="{{layawayItem.item.category}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-sub-category" class="control-label">Sub Category<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-sub-category" name="upsert-sub-category" class="form-control" value="{{layawayItem.item.subCategory}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-price" class="control-label">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-price" name="upsert-price" class="form-control" value="{{layawayItem.item.price}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-status" class="control-label">Status</label>
            <select id="upsert-status" class="form-control">
              <option value="">Select...</option>
              <option value='Available' {{isSelected layawayItem.item.status 'Available'}}>Available</option>
              <option value='Sold Out' {{isSelected layawayItem.item.status 'Sold Out'}}>Sold Out</option>
              <option value='Back Order' {{isSelected layawayItem.item.status 'Back Order'}}>Back Order</option>
              <option value='Discontinued' {{isSelected layawayItem.item.status 'Discontinued'}}>Discontinued</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-item-id" class="control-label">Item Id<span style="color: #acacac;"> (optional) </span> </label>
            <select id="upsert-item-id" class="form-control">
              <option value="">Select...</option>
              {{#each items}}
              <option value="{{_id}}" {{isSelected layawayItem.itemId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-store" class="control-label">Store</label>
            <select id="upsert-store" class="form-control">
              <option value="">Select...</option>
              <option value='Walmart' {{isSelected layawayItem.store 'Walmart'}}>Walmart</option>
              <option value='Amazon' {{isSelected layawayItem.store 'Amazon'}}>Amazon</option>
              <option value='Best Buy' {{isSelected layawayItem.store 'Best Buy'}}>Best Buy</option>
              <option value='<Add More>' {{isSelected layawayItem.store '<Add More>'}}><Add More></option>
              <option value='Other' {{isSelected layawayItem.store 'Other'}}>Other</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-purchase-price" class="control-label">Purchase Price<span style="color: #acacac;"> (optional) </span> </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-purchase-price" name="upsert-purchase-price" class="form-control" value="{{layawayItem.purchasePrice}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-purchase-date" class="control-label">Purchase Date<span style="color: #acacac;"> (optional) </span> </label>
          <input type="date" id="upsert-purchase-date" name="upsert-purchase-date" class="form-control" value="{{formatDate layawayItem.purchaseDate}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-purchase-time" class="control-label">Purchase Time<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-purchase-time" name="upsert-purchase-time" class="form-control" value="{{layawayItem.purchaseTime}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-status" class="control-label">Status</label>
            <select id="upsert-status" class="form-control">
              <option value="">Select...</option>
              <option value='Single Choice Dropdown [Desired' {{isSelected layawayItem.status 'Single Choice Dropdown [Desired'}}>Single Choice Dropdown [Desired</option>
              <option value='Purchased at Price' {{isSelected layawayItem.status 'Purchased at Price'}}>Purchased at Price</option>
              <option value='Purchased with Discount' {{isSelected layawayItem.status 'Purchased with Discount'}}>Purchased with Discount</option>
              <option value='No Longer Wanted' {{isSelected layawayItem.status 'No Longer Wanted'}}>No Longer Wanted</option>
              <option value='Repurposed' {{isSelected layawayItem.status 'Repurposed'}}>Repurposed</option>
            </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>