<template name="payment">
    <div class="payment">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Payment</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-payment-plan-id" class="control-label">Payment Plan Id</label>
                  <span id="payment-payment-plan-id" name="payment-payment-plan-id">{{payment.paymentPlanId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-amount" class="control-label">Amount</label>
                  <span id="payment-amount" name="payment-amount">{{formatCurrency payment.amount}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-payment-date" class="control-label">Payment Date</label>
                  <span id="payment-payment-date" name="payment-payment-date">{{prettyPrintDate payment.paymentDate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-payment-time" class="control-label">Payment Time</label>
                  <span id="payment-payment-time" name="payment-payment-time">{{payment.paymentTime}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="payment-payment-type" class="control-label">Payment Type</label>
                  <span id="payment-payment-type" name="payment-payment-type">{{payment.paymentType}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/payments/edit/{{payment._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/payments" class="btn btn-default">Payments</a>
                </div>
            </div>
        </div>
    </div>
</template>