<template name="upsertAuthToken">
  <div class="upsert-authToken">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-application-name" class="control-label">Application Name</label>
          <input type="text" id="upsert-application-name" name="upsert-application-name" class="form-control" value="{{authToken.applicationName}}" />
        </div>
      </div>
      <!-- <div class="row">
        <div class="form-group">
          <label for="upsert-url" class="control-label">Url</label>
          <input type="text" id="upsert-url" name="upsert-url" class="form-control" value="{{authToken.url}}" />
        </div>
      </div> -->
      <div class="row">
        <div class="form-group">
          <label for="upsert-public-key" name="upsert-public-key" class="control-label">Public Key</label>
          <span id="upsert-public-key" name="upsert-public-key" class="form-control">{{publicKey}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-private-key" class="control-label">Private Key</label>
          <span id="upsert-private-key" name="upsert-private-key" class="form-control">{{privateKey}}</span>
        </div>
      </div>
      {{#if newAuthToken}}
      <div class="row">
        <div class="form-group">
          <span>Copy private key before saving. For security reasons you will not be able to view it again.</span>
        </div>
      </div>
      {{/if}}

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>
