<template name="profiles">
    <div class="profiles">
        {{#if loading}} {{> spinner}} {{/if}}
        <div class="container-fluid page-title">
            <h1>Users</h1>
        </div>
        <div class="container">
            {{#if $eq currentUserRole "Admin"}}
            <div class="add-button">
                <a style="cursor: pointer" id="add-user-profiles-button" href="{{profileRoute}}/add">
                    <h4><span class="glyphicon glyphicon-plus"></span> Add User</h4>
                </a>
            </div>
            {{/if}}
            {{#if profiles}}
            <div class="row list-header">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Role
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Company
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    Name
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    Email
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                </div>
            </div>
            {{/if}} 
            {{#each profiles}}
            {{#if $neq currentUser._id userId }}
            <div class="row details-list">
                <a href="{{profileRoute}}/{{_id}}">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        {{role}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        {{company.name}}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        {{firstName}} {{lastName}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        {{userEmail}}
                    </div>
                </a>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row-icon">
                    <a href="{{profileRoute}}/edit/{{profile._id}}" id="edit-profile-button" title="Edit Profile">
                        <span class="icon icon--sm">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </a>
                    {{#if $eq currentUserRole "Admin"}}
                    <a href="#" class="send-verification-mail-button" title="Resend Invite">
                        <span class="glyphicon glyphicon-send"></span>
                    </a>
                    <a href="#" class="reset-password-button" title="Reset Password">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                    {{#if profile.isActive}}
                    <a href="#" class="toggle-active-button" title="Make Active">
                        <span class="icon icon--sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </a> 
                    {{else}}
                    <a href="#" class="toggle-active-button" title="Make Inactive">
                        <span class="icon icon--sm">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </a> 
                    {{/if}}
                    {{#if isDeleted }}
                        <a href="#" id="unarchive-profile-button" class="ml-2">
                            <span class="icon icon--sm" title="Unarchive">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                            </span>
                        </a>
                    {{else}}
                        <a href="#" id="archive-profile-button" class="ml-2">
                            <span class="icon icon--sm" title="Archive">
                                <i class="fa fa-archive" aria-hidden="true"></i>
                            </span>
                        </a>
                    {{/if}}
                    <a href="#" class="delete-profile-button" title="Delete Profile">
                        <span class="icon icon--sm">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                    </a>
                    {{/if}}
               </div>
            </div>
            {{/if}}
            {{else}}
            <div class="message">
                No User Profiles added as yet.
            </div>
            {{/each}}
        </div>
    </div>
</template>
