<template name="card">
    <div class="card">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Card</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-customer-id" class="control-label">Customer Id</label>
                  <span id="card-customer-id" name="card-customer-id">{{card.customerId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-card-number" class="control-label">Card Number</label>
                  <span id="card-card-number" name="card-card-number">{{card.cardNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-denomination" class="control-label">Denomination</label>
                  <span id="card-denomination" name="card-denomination">{{card.denomination}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-initial-value" class="control-label">Initial Value</label>
                  <span id="card-initial-value" name="card-initial-value">{{formatCurrency card.initialValue}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-card-balance" class="control-label">Card Balance</label>
                  <span id="card-card-balance" name="card-card-balance">{{formatCurrency card.cardBalance}}</span>
                </div>
            </div>
            <div class="container">
                <div class="row details-list">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h3>Layaway Item Ids</h3>
                      {{#each card.layawayItemIds}}
                      <div class="row details-list" id="{{this}}">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          {{this}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
                          <a href="#" id="delete-card-layaway-item-id-button"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                      </div>
                      {{/each}}
                      <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <select id="card-layaway-item-id" class="form-control">
                            <option value="">Select...</option>
                            {{#each layawayItems}}
                            <option value="{{_id}}" {{isSelected card.layawayItemIds _id}}>{{name}}</option>
                            {{/each}}
                          </select>                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                          <button type="submit" class="btn btn-default btn-primary" id="add-card-layaway-item-id-button">Add</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="card-status" class="control-label">Status</label>
                  <span id="card-status" name="card-status">{{card.status}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/cards/edit/{{card._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/cards" class="btn btn-default">Cards</a>
                </div>
            </div>
        </div>
    </div>
</template>