<template name="upsertPayment">
  <div class="upsert-payment">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-payment-plan-id" class="control-label">Payment Plan Id</label>
            <select id="upsert-payment-plan-id" class="form-control">
              <option value="">Select...</option>
              {{#each paymentPlans}}
              <option value="{{_id}}" {{isSelected payment.paymentPlanId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-amount" class="control-label">Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-amount" name="upsert-amount" class="form-control" value="{{payment.amount}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-payment-date" class="control-label">Payment Date</label>
          <input type="date" id="upsert-payment-date" name="upsert-payment-date" class="form-control" value="{{formatDate payment.paymentDate}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-payment-time" class="control-label">Payment Time</label>
          <input type="text" id="upsert-payment-time" name="upsert-payment-time" class="form-control" value="{{payment.paymentTime}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-payment-type" class="control-label">Payment Type</label>
            <select id="upsert-payment-type" class="form-control">
              <option value="">Select...</option>
              <option value='ACH' {{isSelected payment.paymentType 'ACH'}}>ACH</option>
              <option value='Credit Card' {{isSelected payment.paymentType 'Credit Card'}}>Credit Card</option>
              <option value='Debit Card' {{isSelected payment.paymentType 'Debit Card'}}>Debit Card</option>
              <option value='Payroll Deduction' {{isSelected payment.paymentType 'Payroll Deduction'}}>Payroll Deduction</option>
            </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>