<template name="upsertCompany">
  <div class="upsert-company">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-name" class="control-label">Name</label>
          <input type="text" id="upsert-name" name="upsert-name" class="form-control" value="{{company.name}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-phone" class="control-label">Phone</label>
          <input type="text" id="upsert-phone" name="upsert-phone" class="form-control" value="{{company.phone}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-website" class="control-label">Website</label>
          <input type="text" id="upsert-website" name="upsert-website" class="form-control" value="{{company.website}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-address1" class="control-label">Address 1</label>
          <input type="text" id="upsert-address1" name="upsert-address1" class="form-control" value="{{company.address1}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-address2" class="control-label">Address 2<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-address2" name="upsert-address2" class="form-control" value="{{company.address2}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-city" class="control-label">City/Town</label>
          <input type="text" id="upsert-city" name="upsert-city" class="form-control" value="{{company.city}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-state" class="control-label">State</label>
          <div>
            <select name="upsert-state" id="upsert-state">
              <option value="">Select...</option>
              {{#each states}}
              <option value="{{abbreviation}}" {{isSelected company.state abbreviation}}>{{abbreviation}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-zip" class="control-label">Zip/Postal Code</label>
          <input type="text" id="upsert-zip" name="upsert-zip" class="form-control" value="{{company.zip}}" />
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>