<template name="upsertPaymentPlan">
  <div class="upsert-paymentPlan">
    {{#if loading}}
    {{> spinner}}
    {{/if}}
    
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-card-id" class="control-label">Card Id<span style="color: #acacac;"> (optional) </span> </label>
            <select id="upsert-card-id" class="form-control">
              <option value="">Select...</option>
              {{#each cards}}
              <option value="{{_id}}" {{isSelected paymentPlan.cardId _id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-frequency" class="control-label">Frequency<span style="color: #acacac;"> (optional) </span> </label>
            <select id="upsert-frequency" class="form-control">
              <option value="">Select...</option>
              <option value='Weekly' {{isSelected paymentPlan.frequency 'Weekly'}}>Weekly</option>
              <option value='Bi-weekly' {{isSelected paymentPlan.frequency 'Bi-weekly'}}>Bi-weekly</option>
              <option value='Monthly' {{isSelected paymentPlan.frequency 'Monthly'}}>Monthly</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-minimum-amount" class="control-label">Minimum Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="number" id="upsert-minimum-amount" name="upsert-minimum-amount" class="form-control" value="{{paymentPlan.minimumAmount}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-automatic-withdrawal" class="control-label">Automatic Withdrawal</label>
          <input type="checkbox" id="upsert-automatic-withdrawal" name="upsert-automatic-withdrawal" value="{{paymentPlan.automaticWithdrawal}}" {{isChecked paymentPlan.automaticWithdrawal true}} />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-customer-number" class="control-label">Customer Number<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-customer-number" name="upsert-customer-number" class="form-control" value="{{paymentPlan.customerNumber}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-payment-type" class="control-label">Payment Type<span style="color: #acacac;"> (optional) </span> </label>
            <select id="upsert-payment-type" class="form-control">
              <option value="">Select...</option>
              <option value='ACH' {{isSelected paymentPlan.paymentType 'ACH'}}>ACH</option>
              <option value='Credit Card' {{isSelected paymentPlan.paymentType 'Credit Card'}}>Credit Card</option>
              <option value='Debit Card' {{isSelected paymentPlan.paymentType 'Debit Card'}}>Debit Card</option>
              <option value='Payroll Deduction' {{isSelected paymentPlan.paymentType 'Payroll Deduction'}}>Payroll Deduction</option>
            </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
				<a href="{{previousUrl}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>