<template name="notFound">
  <div class="not-found">
    <div class="container">
      <h3>404 - Houston, we have a problem!</h3>
      <h5>The page you're looking for was not found.</h5>
    </div>
  </div>
</template>
