<template name="cards">
  <div class="cards">
    {{#if loading}}
    {{> spinner}}
    {{/if}}

    <div class="container-fluid page-title">
      <h1>Cards</h1>
    </div>
    <div class="container">
      <div class="add-button">
        <a style="cursor: pointer" id="add-cards-button" href="/cards/add">
          <h4><span class="glyphicon glyphicon-plus"></span> Add Card</h4>
        </a>
      </div>
      
      {{#if $gt cardCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Customer Id
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Card Number
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Denomination
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Initial Value
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                Card Balance
        </div>

      </div>
      {{/if}}

      {{#each cards}}
      <div class="row details-list" id="{{_id}}">
        <a href="/cards/{{_id}}">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{customerId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{cardNumber}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{denomination}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{formatCurrency initialValue}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          {{formatCurrency cardBalance}}
        </div>

        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="/cards/edit/{{_id}}"><span class="glyphicon glyphicon-pencil edit-card-button"></span></a>
          <a href="#"><span class="glyphicon glyphicon-trash delete-card-button"></span></a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No Cards.
      </div>
      {{/each}}
      
      <!-- Pagination -->
      {{#if $gt cardCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li><a href="#" class="pageNumber">{{this}}</a></li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>