<template name="companies">
  <div class="companies">
    {{#if loading}} {{> spinner}} {{/if}}

    <div class="container-fluid page-title">
      <h1>Companies</h1>
    </div>
    <div class="container">
      {{#if $eq currentUserRole "Admin"}}
      <div class="add-button">
          <a style="cursor: pointer" id="add-user-profiles-button" href="{{roleRoute}}/companies/add">
              <h4><span class="glyphicon glyphicon-plus"></span> Add Company</h4>
          </a>
      </div>
      {{/if}}
      {{#if $gt companyCount 0}}
      <div class="row list-header">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Name
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Address1
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Address2
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          City/Town
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          State/Province/Region
        </div>

      </div>
      {{/if}} 
      {{#each companies}}
      <div class="row details-list">
        <a href="{{roleRoute}}/companies/{{_id}}">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{name}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{address1}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{address2}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{city}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{state}}
          </div>
        </a>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-icon">
          <a href="{{roleRoute}}/companies/edit/{{_id}}">
            <span class="glyphicon glyphicon-pencil edit-company-button"></span>
          </a>
        </div>
      </div>
      {{else}}
      <div class="message">
        No Companies.
      </div>
      {{/each}}
      <!-- Pagination -->
      {{#if $gt companyCount recordsPerPage}}
      <div class="row page-pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="{{prevPageClass}}">
              <a id="prevPage" href="#" aria-label="Previous">
                <span class="fa fa-caret-left" aria-hidden="true"></span>
              </a>
            </li>
            {{#each pageNumbers}}
            <li>
              <a href="#" class="pageNumber">{{this}}</a>
            </li>
            {{/each}}
            <li class="{{nextPageClass}}">
              <a id="nextPage" href="#" aria-label="Next">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</template>