<template name="upsertProfile">
  <div class="upsert-profile">
    <div class="container-fluid page-title">
      <h1>{{dialogTitle}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <label for="upsert-first-name" class="control-label">First Name</label>
          <input type="text" id="upsert-first-name" name="upsert-first-name" class="form-control" value="{{profile.firstName}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-last-name" class="control-label">Last Name</label>
          <input type="text" id="upsert-last-name" name="upsert-last-name" class="form-control" value="{{profile.lastName}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-address1" class="sr-only control-label">Address1</label>
          <input type="text" id="upsert-address1" name="upsert-address1" placeholder="Address1" class="form-control" value="{{profile.address1}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-address2" class="sr-only control-label">Address2</label>
          <input type="text" id="upsert-address2" name="upsert-address2" placeholder="Address2" class="form-control" value="{{profile.address2}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-city" class="sr-only control-label">City/Town</label>
          <input type="text" id="upsert-city" name="upsert-city" placeholder="City/Town" class="form-control" value="{{profile.city}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-state" class="sr-only control-label">State/Province/Region</label>
          <input type="text" id="upsert-state" name="upsert-state" placeholder="State/Province/Region" class="form-control" value="{{profile.state}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-zip" class="sr-only control-label">Zip/Postal Code</label>
          <input type="text" id="upsert-zip" name="upsert-zip" placeholder="Zip/Postal Code" class="form-control" value="{{profile.zip}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-user-email" class="control-label">Email</label>
          {{#if ($and ($or ($eq currentUserRole "Admin") ($eq currentUserRole "CompanyAdmin")) addingUserProfile)}}
          <input type="text" id="upsert-user-email" name="upsert-user-email" placeholder="Email" class="form-control" value="{{profile.userEmail}}" />
          {{else}}
					<span id="profile-user-email" name="profile-user-email">{{profile.userEmail}}</span>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="upsert-phone" class="control-label">Phone<span style="color: #acacac;"> (optional) </span> </label>
          <input type="text" id="upsert-phone" name="upsert-phone" placeholder="Phone" class="form-control" value="{{profile.phone}}" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          {{#if $and ($or ($eq currentUserRole "Admin") ($eq currentUserRole "CompanyAdmin")) ($neq currentUser._id profile.userId)}}
          <label for="upsert-role" class="control-label">Role</label>
          <select id="upsert-role" class="form-control">
            <option value="">Select...</option>
            {{#each publicSettings 'roles'}}
            {{#if $and ($eq currentUserRole "Admin") (adminOnly)}}
            <option value="{{value}}" {{isSelected profile.role value}}>{{text}}</option>
            {{else}}
            {{#if $and ($eq currentUserRole "CompanyAdmin") ($not adminOnly)}}
            <option value="{{value}}" {{isSelected profile.role value}}>{{text}}</option>
            {{/if}}
            {{/if}}
            {{/each}}
          </select>
          {{else}}
          {{#if $not addingUserProfile}}
          <label for="upsert-role" class="control-label">Role</label>
					<span id="upsert-role" name="upsert-role">{{profile.role profile._id}}</span>
          {{/if}}
          {{/if}}
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default btn-primary">Save</button>
        <a href="{{profileRoute}}/{{profile._id}}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</template>
