<template name="item">
    <div class="item">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Item</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-company-id" class="control-label">Company Id</label>
                  <span id="item-company-id" name="item-company-id">{{item.companyId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-company-item-number" class="control-label">Company Item Number</label>
                  <span id="item-company-item-number" name="item-company-item-number">{{item.companyItemNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-layaway-card-item-number" class="control-label">Layaway Card Item Number</label>
                  <span id="item-layaway-card-item-number" name="item-layaway-card-item-number">{{item.layawayCardItemNumber}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-name" class="control-label">Name</label>
                  <span id="item-name" name="item-name">{{item.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-description" class="control-label">Description</label>
                  <span id="item-description" name="item-description">{{item.description}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-category" class="control-label">Category</label>
                  <span id="item-category" name="item-category">{{item.category}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-sub-category" class="control-label">Sub Category</label>
                  <span id="item-sub-category" name="item-sub-category">{{item.subCategory}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-price" class="control-label">Price</label>
                  <span id="item-price" name="item-price">{{formatCurrency item.price}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="item-status" class="control-label">Status</label>
                  <span id="item-status" name="item-status">{{item.status}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/items/edit/{{item._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/items" class="btn btn-default">Items</a>
                </div>
            </div>
        </div>
    </div>
</template>