<template name="authToken">
    <div class="authToken">
        {{#if loading}}
        {{> spinner}}
        {{/if}}

        <div class="container-fluid page-title">
            <h1>Auth Token</h1>
        </div>
        <div class="container details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="auth-token-application-name" class="control-label">Application Name</label>
                  <span id="auth-token-application-name" name="auth-token-application-name">{{authToken.applicationName}}</span>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="auth-token-url" class="control-label">Url</label>
                  <span id="auth-token-url" name="auth-token-url">{{authToken.url}}</span>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="auth-token-public-key" class="control-label">Public Key</label>
                  <span id="auth-token-public-key" name="auth-token-public-key">{{authToken.publicKey}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="auth-token-decrypted-private-key" class="control-label">Private Key</label>
                  <span id="auth-token-decrypted-private-key" name="auth-token-decrypted-private-key">{{decryptedPrivateKey}}</span>
                </div>
            </div>

            <div class="row details-nav-buttons">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="/company-admin/auth-tokens/edit/{{authToken._id}}" class="btn btn-default btn-primary">Edit</a>
                    <a href="/company-admin/auth-tokens" class="btn btn-default">Auth Tokens</a>
                </div>
            </div>
        </div>
    </div>
</template>